
body{
    margin: 0;
    font-family: calibri;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
h1{
    margin-top: 60px;
    text-align: center;
}
.container2{
    border: 1px solid black;
    width: 80rem;
}
summary{
    padding: 20px;
    list-style-type: none;
}
i{
    float: right;
}
p{
    margin: 20px;
}
